@charset "utf-8";

/* /////////////////////////////
foundation
//////////////////////////////*/
@import "foundation/font.css";
@import "foundation/var.css";
@import "foundation/reset.css";

/* /////////////////////////////
layout
//////////////////////////////*/

@import "layout/common.css";

@import "layout/header.css";
@import "layout/header_responsible.css";

@import "layout/mainVisualSection.css";

@import "layout/mainReserveSection.css";
@import "layout/mainNoticeSection.css";
@import "layout/mainSnsSection.css";

/* /////////////////////////////
    base
//////////////////////////////*/

html {
  font-size: 10px;
  font-family: "Noto Sans KR";
  color: var(--gray-main);
}
a {
  color: var(--gray-main);
}
