.footer {
}

/* footer top box */

.footer .footerTopBox {
    border: 1px solid var(--gray-light);
}
.footer ul.footerMenu {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.8rem 0;
    border-left: none;
    border-right: none;
    display: flex;
}
.footer ul.footerMenu li {
    display: flex;
    align-items: center;
}
.footer ul.footerMenu li:not(li:first-child)::before {
    content: "";
    width: 0.1rem;
    height: 1.6rem;
    background-color: var(--gray-darker);
    margin: 0 1rem;
    display: inline-block;
    vertical-align: middle;
}
.footer ul.footerMenu li a {
    width: 100%;
    font-size: var(--text-footerText);
    line-height: 1.2;
    color: var(--gray-darker);
}
.footer ul.footerMenu li a.privacy {
    font-weight: 600;
}

/* footerBottomBox */

.footer .footerBottomBox {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 0 3.6rem;
    display: flex;
    justify-content: space-between;
}
.footer .museumInfoBox {
}
.footer .museumInfoBox ul.addressArea {
    display: flex;
}
.footer .museumInfoBox ul.addressArea li {
    display: flex;
    align-items: center;
    font-size: var(--text-footerText);
    color: var(--gray-darker);
    line-height: 1.2;
    letter-spacing: -0.04rem;
}
.footer .museumInfoBox ul.addressArea li:not(li:first-child)::before {
    content: "";
    width: 0.1rem;
    height: 1.6rem;
    background-color: var(--gray-darker);
    margin: 0 1rem;
    display: inline-block;
    vertical-align: middle;
}

.footer .museumInfoBox p.copyrightArea {
    padding-top: 0.7rem;
    font-size: var(--text-footerText);
    color: var(--gray-darker);
    line-height: 1.2;
    letter-spacing: -0.04rem;
}

.footer .familySiteArea {
    display: flex;
    justify-content: flex-end;
}
.footer .familySiteArea h2.familySiteLog {
    max-width: 9rem;
}
.footer .familySiteArea h2.familySiteLog img {
    width: 100%;
    object-fit: cover;
}
.footer .familySiteArea div {
    display: flex;
    padding: 1.2rem 0px;
    margin-left: 1.9rem;
    border-bottom: 2px solid #000;
    width: 24rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer .familySiteArea div button {
    font-size: var(--text-footerText);
    color: var(--black);
    font-weight: 400;
}
.footer .familySiteArea div.selected button {
    background-color: var(--black);
    color: var(--gray-lighter);
}
.footer .familySiteArea div.familySiteBtn img.up {
    width: 2.2rem;
    height: 1.2rem;
}
.footer .familySiteArea div.familySiteBtn img.down {
    display: none;
}

.footer .familySiteArea div.familySiteBtn.selected img.up {
    display: none;
}
.footer .familySiteArea div.familySiteBtn.selected img.down {
    width: 2.2rem;
    height: 1.2rem;
}

.footer .familySiteArea ul.subMenu {
    display: none;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 5rem;
    left: 0;
    padding: 3.5rem 0;
    text-align: center;
    background: var(--black);
    flex-direction: column;
    gap: 15px;
}
.footer .familySiteArea ul.subMenu li {
}
.footer .familySiteArea ul.subMenu li a {
    color: var(--gray-lighter);
    font-size: var(--text-small);
}
.footer .familySiteArea div.familySiteBtn.selected ul.subMenu {
    display: flex;
}
