/* ////////////////////////////////////////////////////////////
    메인 섹션 _ 비주얼
////////////////////////////////////////////////////////////*/

.mainVisual {
    position: relative;
    width: 100%;
    padding: 3.7rem 0 0;
}

.mainVisualSlider {
    position: relative;
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    overflow: hidden;
}

.mainVisualSlider .swiper-slide {
    position: relative;
}

.mainVisualSlider .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}

.mainVisualSlider .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* =========================
   navigation button
========================= */
.mainVisual .mainVisualSlider .mainVisualPrev,
.mainVisual .mainVisualSlider .mainVisualNext {
    width: 34px;
    height: 60px;
    text-indent: -9999em;
    position: absolute;
    cursor: pointer;
    top: 50%;
    z-index: 10;
    margin-top: -30px;
    -webkit-background-size: auto;
    background-size: auto;
}

.mainVisual .mainVisualSlider .mainVisualPrev {
    left: 2rem;
    background-image: url("../../image/main_visual_prev.png");
}

.mainVisual .mainVisualSlider .mainVisualNext {
    right: 2rem;
    background-image: url("../../image/main_visual_next.png");
}

/* =========================
   pagination
========================= */
.mainVisual .mainVisualSlider .controlBox {
    position: absolute;
    width: 100%;
    max-width: 1332px;
    right: 20px;
    bottom: 15px;
    z-index: 50;
    text-align: right;
    display: flex;
    align-items: center;
}

.mainVisual .mainVisualSlider .controlBox .mainVisualPagination {
    position: static;
    display: inline-flex;
    align-items: center;
    text-align: center;
    transition: 0.3s opacity;
    justify-content: flex-end;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
.mainVisual .mainVisualSlider .controlBox .mainVisualPagination .swiper-pagination-bullet {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    opacity: 1;
    margin: 0 6px;
    vertical-align: middle;
    border: 1px solid #fff;
    outline: 1px solid #666;
    cursor: pointer;
    font-size: 0px;
}
.mainVisual .mainVisualSlider .controlBox .mainVisualPagination .swiper-pagination-bullet-active {
    width: 25px;
    background: #3f0b9f;
    border: 1px solid #3f0b9f;
    border-radius: 5px;
}

.mainVisual .mainVisualSlider .controlBox .swiper-btn-ctrl {
}
.mainVisual .mainVisualSlider .controlBox .pauseBtn {
    width: 38px;
    height: 38px;
    background-size: 38px;
    margin-left: 10px;
    background-image: url(../../image/main_btn_stop.png);
    margin-right: -5px;
}
.mainVisual .mainVisualSlider .controlBox .playBtn {
    display: none;
    width: 38px;
    height: 38px;
    background-size: 38px;
    margin-left: 10px;
    background-image: url(../../image/main_btn_play.png);
}
.mainVisual .mainVisualSlider .controlBox .blind {
    overflow: hidden !important;
    position: absolute !important;
    top: -1000em !important;
    left: 0 !important;
}

/* =========================
   responsive
========================= */
